<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ESS-Lab Asset Management System</title>

    <!--plugins-->
    <link href="../static/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../static/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet">
    <link href="../static/plugins/simplebar/css/simplebar.css" rel="stylesheet">
    <!-- loader-->
	<link href="../static/css/pace.min.css" rel="stylesheet">
	<script src="../static/js/pace.min.js"></script>
    <!--Styles-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/icons.css">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/dark-theme.css" rel="stylesheet">
    <link href="../static/css/semi-dark-theme.css" rel="stylesheet">
    <link href="../static/css/minimal-theme.css" rel="stylesheet">
    <link href="../static/css/shadow-theme.css" rel="stylesheet">

  </head>
  <body>

    <!--start header-->
     <header class="top-header">
      <nav class="navbar navbar-expand justify-content-between">
          <div class="btn-toggle-menu">
            <span class="material-symbols-outlined">menu</span>
          </div>
          <div class="position-relative search-bar d-lg-block d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <input class="form-control form-control-sm rounded-5 px-5" disabled type="search" placeholder="Search">
            <span class="material-symbols-outlined position-absolute ms-3 translate-middle-y start-0 top-50">search</span>
          </div>
            <ul class="navbar-nav top-right-menu gap-2">
              <li class="nav-item d-lg-none d-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
                 <a class="nav-link" href="javascript:;"><span class="material-symbols-outlined">
                  search
                  </span></a>
              </li>
              <li class="nav-item dark-mode">
                <a class="nav-link dark-mode-icon" href="javascript:;"><span class="material-symbols-outlined">dark_mode</span></a>
              </li>
              <li class="nav-item dropdown dropdown-app">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown" href="javascript:;"><span class="material-symbols-outlined">
                  apps
                  </span></a>
                <div class="dropdown-menu dropdown-menu-end mt-lg-2 p-0">
                    <div class="app-container p-2 my-2">
                      <div class="row gx-0 gy-2 row-cols-3 justify-content-center p-2">
                      </div><!--end row-->

                    </div>
                </div>

              </li>
              <li class="nav-item dropdown dropdown-large">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                  <div class="position-relative">
                    <span class="notify-badge">8</span>
                    <span class="material-symbols-outlined">
                      notifications_none
                      </span>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end mt-lg-2">
                  <a href="javascript:;">
                    <div class="msg-header">
                      <p class="msg-header-title">Notifications</p>
                      <p class="msg-header-clear ms-auto">Marks all as read</p>
                    </div>
                  </a>
                  <div class="header-notifications-list">
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-primary border">
                          <span class="material-symbols-outlined">
                            add_shopping_cart
                            </span>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New Orders <span class="msg-time float-end">2 min
                              ago</span></h6>
                          <p class="msg-info">You have recived new orders</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-danger border">
                          <span class="material-symbols-outlined">
                            account_circle
                            </span>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New Customers<span class="msg-time float-end">14 Sec
                              ago</span></h6>
                          <p class="msg-info">5 new user registered</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-success border">
                          <span class="material-symbols-outlined">
                            picture_as_pdf
                            </span>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">24 PDF File<span class="msg-time float-end">19 min
                              ago</span></h6>
                          <p class="msg-info">The pdf files generated</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-info border">
                          <span class="material-symbols-outlined">
                            store
                            </span>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New Product Approved <span class="msg-time float-end">2 hrs ago</span></h6>
                          <p class="msg-info">Your new product has approved</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-warning border">
                          <span class="material-symbols-outlined">
                            event_available
                            </span>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">Time Response <span class="msg-time float-end">28 min
                              ago</span></h6>
                          <p class="msg-info">5.1 min avarage time response</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-danger border">
                          <span class="material-symbols-outlined">
                            forum
                            </span>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New Comments <span class="msg-time float-end">4 hrs
                              ago</span></h6>
                          <p class="msg-info">New customer comments recived</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-primary border">
                          <span class="material-symbols-outlined">
                            local_florist
                            </span>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">New 24 authors<span class="msg-time float-end">1 day
                              ago</span></h6>
                          <p class="msg-info">24 new authors joined last week</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-success border">
                          <span class="material-symbols-outlined">
                            park
                            </span>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">Your item is shipped <span class="msg-time float-end">5 hrs
                              ago</span></h6>
                          <p class="msg-info">Successfully shipped your item</p>
                        </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                      <div class="d-flex align-items-center">
                        <div class="notify text-warning border">
                          <span class="material-symbols-outlined">
                            elevation
                            </span>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="msg-name">Defense Alerts <span class="msg-time float-end">2 weeks
                              ago</span></h6>
                          <p class="msg-info">45% less alerts last 4 weeks</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <a href="javascript:;">
                    <div class="text-center msg-footer">View All</div>
                  </a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="offcanvas" href="#ThemeCustomizer"><span class="material-symbols-outlined">
                 settings
                 </span></a>
              </li>
            </ul>
       </nav>
     </header>
     <!--end header-->


     <!--start sidebar-->
      <aside class="sidebar-wrapper">
          <div class="sidebar-header">
            <div class="logo-icon">
              <img src="../static/images/logo-icon.png" class="logo-img" alt="">
            </div>
            <div class="logo-name flex-grow-1">
              <h5 class="mb-0">ESS-Lab AMS</h5>
            </div>
            <div class="sidebar-close ">
              <span class="material-symbols-outlined">close</span>
            </div>
          </div>
          <div class="sidebar-nav" data-simplebar="true">

              <!--navigation-->
              <ul class="metismenu" id="menu">
                <li>
                  <a href="index.html">
                    <div class="parent-icon"><span class="material-symbols-outlined">home</span>
                    </div>
                    <div class="menu-title">Dashboard</div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><span class="material-symbols-outlined">apps</span>
                    </div>
                    <div class="menu-title">Application</div>
                  </a>
                  <ul>
                    <li> <a href="app-emailbox.html"><span class="material-symbols-outlined">arrow_right</span>Email</a>
                    </li>
                    <li> <a href="app-chat-box.html"><span class="material-symbols-outlined">arrow_right</span>Chat Box</a>
                    </li>
                    <li> <a href="app-file-manager.html"><span class="material-symbols-outlined">arrow_right</span>File Manager</a>
                    </li>
                    <li> <a href="app-contact-list.html"><span class="material-symbols-outlined">arrow_right</span>Contatcs</a>
                    </li>
                    <li> <a href="app-to-do.html"><span class="material-symbols-outlined">arrow_right</span>Todo List</a>
                    </li>
                    <li> <a href="app-invoice.html"><span class="material-symbols-outlined">arrow_right</span>Invoice</a>
                    </li>
                    <li> <a href="app-fullcalender.html"><span class="material-symbols-outlined">arrow_right</span>Calendar</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-label">UI Elements</li>
                <li>
                  <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><span class="material-symbols-outlined">widgets</span>
                    </div>
                    <div class="menu-title">Widgets</div>
                  </a>
                  <ul>
                    <li> <a href="widget-data.html"><span class="material-symbols-outlined">arrow_right</span>Data Widget</a>
                    </li>
                    <li> <a href="widget-static.html"><span class="material-symbols-outlined">arrow_right</span>Widget Static</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><span class="material-symbols-outlined">shopping_cart</span>
                    </div>
                    <div class="menu-title">eCommerce</div>
                  </a>
                  <ul>
                    <li> <a href="ecommerce-add-product.html"><span class="material-symbols-outlined">arrow_right</span>Add Product</a>
                    </li>
                    <li> <a href="ecommerce-products.html"><span class="material-symbols-outlined">arrow_right</span>Products</a>
                    </li>
                    <li> <a href="ecommerce-customers.html"><span class="material-symbols-outlined">arrow_right</span>Customers</a>
                    </li>
                    <li> <a href="ecommerce-customer-details.html"><span class="material-symbols-outlined">arrow_right</span>Customer Details</a>
                    </li>
                    <li> <a href="ecommerce-orders.html"><span class="material-symbols-outlined">arrow_right</span>Orders</a>
                    </li>
                    <li> <a href="ecommerce-customer-details.html"><span class="material-symbols-outlined">arrow_right</span>Order Details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">redeem</span>
                    </div>
                    <div class="menu-title">Components</div>
                  </a>
                  <ul>
                    <li> <a href="component-alerts.html"><span class="material-symbols-outlined">arrow_right</span>Alerts</a>
                    </li>
                    <li> <a href="component-accordions.html"><span class="material-symbols-outlined">arrow_right</span>Accordions</a>
                    </li>
                    <li> <a href="component-badges.html"><span class="material-symbols-outlined">arrow_right</span>Badges</a>
                    </li>
                    <li> <a href="component-buttons.html"><span class="material-symbols-outlined">arrow_right</span>Buttons</a>
                    </li>
                    <li> <a href="component-cards.html"><span class="material-symbols-outlined">arrow_right</span>Cards</a>
                    </li>
                    <li> <a href="component-lightbox.html"><span class="material-symbols-outlined">arrow_right</span>Lightbox</a>
                    </li>
                    <li> <a href="component-carousels.html"><span class="material-symbols-outlined">arrow_right</span>Carousels</a>
                    </li>
                    <li> <a href="component-list-groups.html"><span class="material-symbols-outlined">arrow_right</span>List Groups</a>
                    </li>
                    <li> <a href="component-media-object.html"><span class="material-symbols-outlined">arrow_right</span>Media Objects</a>
                    </li>
                    <li> <a href="component-modals.html"><span class="material-symbols-outlined">arrow_right</span>Modals</a>
                    </li>
                    <li> <a href="component-navs-tabs.html"><span class="material-symbols-outlined">arrow_right</span>Navs & Tabs</a>
                    </li>
                    <li> <a href="component-paginations.html"><span class="material-symbols-outlined">arrow_right</span>Pagination</a>
                    </li>
                    <li> <a href="component-popovers-tooltips.html"><span class="material-symbols-outlined">arrow_right</span>Popovers & Tooltips</a>
                    </li>
                    <li> <a href="component-progress-bars.html"><span class="material-symbols-outlined">arrow_right</span>Progress</a>
                    </li>
                    <li> <a href="component-spinners.html"><span class="material-symbols-outlined">arrow_right</span>Spinners</a>
                    </li>
                    <li> <a href="component-notifications.html"><span class="material-symbols-outlined">arrow_right</span>Notifications</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">add_reaction</span>
                    </div>
                    <div class="menu-title">Icons</div>
                  </a>
                  <ul>
                    <li> <a href="icons-line-icons.html"><span class="material-symbols-outlined">arrow_right</span>Line Icons</a>
                    </li>
                    <li> <a href="icons-boxicons.html"><span class="material-symbols-outlined">arrow_right</span>Boxicons</a>
                    </li>
                    <li> <a href="icons-feather-icons.html"><span class="material-symbols-outlined">arrow_right</span>Feather Icons</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-label">Forms & Tables</li>
                <li>
                  <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">diamond</span>
                    </div>
                    <div class="menu-title">Forms</div>
                  </a>
                  <ul>
                    <li> <a href="form-elements.html"><span class="material-symbols-outlined">arrow_right</span>Form Elements</a>
                    </li>
                    <li> <a href="form-input-group.html"><span class="material-symbols-outlined">arrow_right</span>Input Groups</a>
                    </li>
                    <li> <a href="form-radios-and-checkboxes.html"><span class="material-symbols-outlined">arrow_right</span>Radios & Checkboxes</a>
                    </li>
                    <li> <a href="form-layouts.html"><span class="material-symbols-outlined">arrow_right</span>Forms Layouts</a>
                    </li>
                    <li> <a href="form-validations.html"><span class="material-symbols-outlined">arrow_right</span>Form Validation</a>
                    </li>
                    <li> <a href="form-wizard.html"><span class="material-symbols-outlined">arrow_right</span>Form Wizard</a>
                    </li>
                    <li> <a href="form-file-upload.html"><span class="material-symbols-outlined">arrow_right</span>File Upload</a>
                    </li>
                    <li> <a href="form-date-time-pickes.html"><span class="material-symbols-outlined">arrow_right</span>Date Pickers</a>
                    </li>
                    <li> <a href="form-select2.html"><span class="material-symbols-outlined">arrow_right</span>Select2</a>
                    </li>
                    <li> <a href="form-repeater.html"><span class="material-symbols-outlined">arrow_right</span>Form Repeater</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">backup_table</span>
                    </div>
                    <div class="menu-title">Tables</div>
                  </a>
                  <ul>
                    <li> <a href="table-basic-table.html"><span class="material-symbols-outlined">arrow_right</span>Basic Table</a>
                    </li>
                    <li> <a href="table-datatable.html"><span class="material-symbols-outlined">arrow_right</span>Data Table</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-label">Pages</li>
                <li>
                  <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">lock_open</span>
                    </div>
                    <div class="menu-title">Authentication</div>
                  </a>
                  <ul>
                    <li><a class="has-arrow" href="javascript:;"><span class="material-symbols-outlined">arrow_right</span>Basic</a>
                      <ul>
                        <li><a href="auth-basic-login.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Login</a></li>
                        <li><a href="auth-basic-register.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Register</a></li>
                        <li><a href="auth-basic-forgot-password.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Forgot Password</a></li>
                        <li><a href="auth-basic-reset-password.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Reset Password</a></li>
                      </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:;"><span class="material-symbols-outlined">arrow_right</span>Cover</a>
                      <ul>
                        <li><a href="auth-cover-login.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Login</a></li>
                        <li><a href="auth-cover-reset-password.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Register</a></li>
                        <li><a href="auth-cover-forgot-password.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Forgot Password</a></li>
                        <li><a href="auth-cover-reset-password.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Reset Password</a></li>
                      </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:;"><span class="material-symbols-outlined">arrow_right</span>Boxed</a>
                      <ul>
                        <li><a href="auth-boxed-login.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Login</a></li>
                        <li><a href="auth-boxed-register.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Register</a></li>
                        <li><a href="auth-boxed-forgot-password.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Forgot Password</a></li>
                        <li><a href="auth-boxed-reset-password.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Reset Password</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="user-profile.html">
                    <div class="parent-icon"><span class="material-symbols-outlined">account_circle</span>
                    </div>
                    <div class="menu-title">User Profile</div>
                  </a>
                </li>
                <li>
                  <a href="timeline.html">
                    <div class="parent-icon"><span class="material-symbols-outlined">hotel_class</span>
                    </div>
                    <div class="menu-title">Timeline</div>
                  </a>
                </li>
                <li>
                  <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">warning</span>
                    </div>
                    <div class="menu-title">Errors</div>
                  </a>
                  <ul>
                    <li> <a href="pages-error-403.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>403 Error</a>
                    </li>
                    <li> <a href="pages-error-404.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>404 Error</a>
                    </li>
                    <li> <a href="pages-error-500.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>500 Error</a>
                    </li>
                    <li> <a href="pages-coming-soon.html" target="_blank"><span class="material-symbols-outlined">arrow_right</span>Coming Soon</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="faq.html">
                    <div class="parent-icon"><span class="material-symbols-outlined">call</span>
                    </div>
                    <div class="menu-title">FAQ</div>
                  </a>
                </li>
                <li>
                  <a href="pricing-table.html">
                    <div class="parent-icon"><span class="material-symbols-outlined">currency_bitcoin</span>
                    </div>
                    <div class="menu-title">Pricing</div>
                  </a>
                </li>
                <li class="menu-label">Charts & Maps</li>
                <li>
                  <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">monitoring</span>
                    </div>
                    <div class="menu-title">Charts</div>
                  </a>
                  <ul>
                    <li> <a href="charts-apex.html"><span class="material-symbols-outlined">arrow_right</span>Apex</a>
                    </li>
                    <li> <a href="charts-chartjs.html"><span class="material-symbols-outlined">arrow_right</span>Chartjs</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">distance</span>
                    </div>
                    <div class="menu-title">Maps</div>
                  </a>
                  <ul>
                    <li> <a href="map-google-maps.html"><span class="material-symbols-outlined">arrow_right</span>Google Maps</a>
                    </li>
                    <li> <a href="map-vector-maps.html"><span class="material-symbols-outlined">arrow_right</span>Vector Maps</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-label">Others</li>
                <li>
                  <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">toc</span>
                    </div>
                    <div class="menu-title">Menu Levels</div>
                  </a>
                  <ul>
                    <li> <a class="has-arrow" href="javascript:;"><span class="material-symbols-outlined">arrow_right</span>Level One</a>
                      <ul>
                        <li> <a class="has-arrow" href="javascript:;"><span class="material-symbols-outlined">arrow_right</span>Level Two</a>
                          <ul>
                            <li> <a href="javascript:;"><span class="material-symbols-outlined">arrow_right</span>Level Three</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">receipt_long</span>
                    </div>
                    <div class="menu-title">Documentation</div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="parent-icon"><span class="material-symbols-outlined">shop</span>
                    </div>
                    <div class="menu-title">Support</div>
                  </a>
                </li>
              </ul>
              <!--end navigation-->


          </div>
          <div class="sidebar-bottom dropdown dropup-center dropup">
              <div class="dropdown-toggle d-flex align-items-center px-3 gap-3 w-100 h-100" data-bs-toggle="dropdown">
                <div class="user-img">
                   <img src="../static/images/avatars/01.png" alt="">
                </div>
                <div class="user-info">
                  <h5 class="mb-0 user-name">Ding</h5>
                  <p class="mb-0 user-designation">Poor Engineer</p>
                </div>
              </div>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="javascript:;"><span class="material-symbols-outlined me-2">
                  account_circle
                  </span><span>Profile</span></a>
                </li>
                <li><a class="dropdown-item" href="javascript:;"><span class="material-symbols-outlined me-2">
                  tune
                  </span><span>Settings</span></a>
                </li>
                <li><a class="dropdown-item" href="javascript:;"><span class="material-symbols-outlined me-2">
                  dashboard
                  </span><span>Dashboard</span></a>
                </li>
                <li><a class="dropdown-item" href="javascript:;"><span class="material-symbols-outlined me-2">
                  account_balance
                  </span><span>Earnings</span></a>
                </li>
                <li><a class="dropdown-item" href="javascript:;"><span class="material-symbols-outlined me-2">
                  cloud_download
                  </span><span>Downloads</span></a>
                </li>
                <li>
                  <div class="dropdown-divider mb-0"></div>
                </li>
                <li><a class="dropdown-item" href="javascript:;"><span class="material-symbols-outlined me-2">
                  logout
                  </span><span>Logout</span></a>
                </li>
              </ul>
          </div>
     </aside>
     <!--end sidebar-->


    <!--start main content-->
     <main class="page-content">
       <!--breadcrumb-->
		<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
			<div class="breadcrumb-title pe-3">ESS-Lab AMS</div>
			<div class="ps-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-0 p-0">
						<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Lab Assets</li>
					</ol>
				</nav>
			</div>
			<div class="ms-auto">
				<div class="btn-group">
					<button type="button" class="btn btn-primary">Settings</button>
					<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
		<a class="dropdown-item" href="javascript:;">Action</a>
						<a class="dropdown-item" href="javascript:;">Another action</a>
						<a class="dropdown-item" href="javascript:;">Something else here</a>
						<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
					</div>
				</div>
			</div>
		</div>
		<!--end breadcrumb-->



        <div class="row g-3">
          <div class="col-auto">
            <div class="position-relative">
              <input class="form-control px-5" id="assetSearch" type="search" placeholder="Search Products">
              <span class="material-symbols-outlined position-absolute ms-3 translate-middle-y start-0 top-50 fs-5">search</span>
            </div>
          </div>

          <div class="col-auto">
            <div class="d-flex align-items-center gap-2 justify-content-lg-end">
               <button class="btn btn-light px-4" onclick="exportToExcel()"><i class="bi bi-box-arrow-right me-2"></i>Export</button>
               <button class="btn btn-primary px-4" ><i class="bi bi-plus-lg me-2"></i>Add Product</button>
               <button class="btn btn-primary px-4" >Delete Product</button>
            </div>
          </div>
        </div><!--end row-->

       <div class="card mt-4">
         <div class="card-body">
           <div class="product-table">
             <div class="table-responsive white-space-nowrap">
               <table class="table align-middle text-center" id="assetData">
                 <thead class="table-light">
                 <tr>
                   <th>
                     <!--<input class="form-check-input" type="checkbox">-->
                   </th>
                   <th>AssetID</th>
                   <th>Type</th>
                   <th>Status</th>
                   <th>Cost</th>
                   <th>Owner</th>
                   <th>ProjectID</th>
                   <th>Project</th>
                   <th>Rack</th>
                   <th>BarCode</th>
                   <th>SN</th>
                   <th>Model</th>
                   <th>BMChostname</th>
                   <th>IP</th>
                   <th>ChangeTime</th>
                   <th>Location</th>
                   <th>ReleaseTime</th>
                   <th>User</th>
                   <th>AssetType</th>
                   <th>Vendor</th>
                   <th>Comments</th>
                   <th>Quantity</th>
                   <th>Bandwidth</th>
                 </tr>
                 <tr>
                   <td>
                     <button class="btn btn-primary" id="searchButton">Search</button>
                   </td> <!-- Empty cell for the checkbox column -->

                   <td>
                     <input id="AssetIDInput" type="text" class="form-control" placeholder="Input AssetID">
                   </td>
                   <td>
                     <input id="TypeInput" type="text" class="form-control" placeholder="Input Type">

                   </td>
                   <td>
                     <select class="form-control" id="StatusInput">
                       <option value="" selected>Select Status</option>
                       <option value="available">available</option>
                       <option value="unavailable">unavailable</option>
                       <!-- Add more options as needed -->
                     </select>

                   </td>
                   <td>
                     <input id="CostInput" type="text" class="form-control" placeholder="Input Cost">

                   </td>
                   <td>
                     <input id="OwnerInput" type="text" class="form-control" placeholder="Input Owner">

                   </td>
                   <td>
                     <input id="ProjectIDInput" type="text" class="form-control" placeholder="Input ProjectID">

                   </td>
                   <td>
                     <input id="ProjectInput" type="text" class="form-control" placeholder="Input Project">

                   </td>
                   <td>
                     <input id="RackInput" type="text" class="form-control" placeholder="Input Rack">

                   </td>
                   <td>
                     <input id="BarCodeInput" type="text" class="form-control" placeholder="Input BarCode">

                   </td>
                   <td>
                     <input id="SNInput" type="text" class="form-control" placeholder="Input SN">

                   </td>
                   <td>
                     <input id="ModelInput" type="text" class="form-control" placeholder="Input Model">

                   </td>
                   <td>
                     <input id="BMChostnameInput" type="text" class="form-control" placeholder="Input BMChostname">

                   </td>
                   <td>
                     <input id="IPInput" type="text" class="form-control" placeholder="Input IP">

                   </td>
                   <td>
                     <input id="ChangeTimeInput" type="text" class="form-control" placeholder="Input ChangeTime">

                   </td>
                   <td>
                     <input id="LocationInput" type="text" class="form-control" placeholder="Input Location">

                   </td>
                   <td>
                     <input id="ReleaseTimeInput" type="text" class="form-control" placeholder="Input ReleaseTime">

                   </td>
                   <td>
                     <input id="UserInput" type="text" class="form-control" placeholder="Input User">

                   </td>
                   <td>
                     <input id="AssetTypeInput" type="text" class="form-control" placeholder="Input AssetType">

                   </td>
                   <td>
                     <input id="VendorInput" type="text" class="form-control" placeholder="Input Vendor">

                   </td>
                   <td>
                     <input id="CommentsInput" type="text" class="form-control" placeholder="Input Comments">

                   </td>
                   <td>
                     <input id="QuantityInput"type="text" class="form-control" placeholder="Input Quantity">

                   </td>
                   <td>
                     <input id="BandwidthInput"type="text" class="form-control" placeholder="Input Bandwidth">

                   </td>
                 </tr>
                 </thead>

                 <tbody>
                 {% for row in table_data %}
                 <tr>
                   <td>
                     <input class="form-check-input" type="checkbox">
                   </td>
                   {% for value in row %}
                   <td>{{value}}</td>
                   {% endfor %}
                 </tr>
                 {% endfor %}
                 </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>

     </main>
     <!--end main content-->


    <!--start overlay-->
      <div class="overlay btn-toggle-menu"></div>
    <!--end overlay-->

    <!-- Search Modal -->
    <div class="modal" id="exampleModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header gap-2">
            <div class="position-relative popup-search w-100">
              <input class="form-control form-control-lg ps-5 border border-3 border-primary" type="search" onkeyup="filterTable()" placeholder="Search">
              <span class="material-symbols-outlined position-absolute ms-3 translate-middle-y start-0 top-50">search</span>
            </div>
            <button type="button" class="btn-close d-xl-none" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="search-list">
                 <p class="mb-1">Html Templates</p>
                 <div class="list-group">
                    <a href="javascript:;" class="list-group-item list-group-item-action active align-items-center d-flex gap-2"><i class="bi bi-filetype-html fs-5"></i>Best Html Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-award fs-5"></i>Html5 Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-box2-heart fs-5"></i>Responsive Html5 Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-camera-video fs-5"></i>eCommerce Html Templates</a>
                 </div>
                 <p class="mb-1 mt-3">Web Designe Company</p>
                 <div class="list-group">
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-chat-right-text fs-5"></i>Best Html Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-cloud-arrow-down fs-5"></i>Html5 Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-columns-gap fs-5"></i>Responsive Html5 Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-collection-play fs-5"></i>eCommerce Html Templates</a>
                 </div>
                 <p class="mb-1 mt-3">Software Development</p>
                 <div class="list-group">
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-cup-hot fs-5"></i>Best Html Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-droplet fs-5"></i>Html5 Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-exclamation-triangle fs-5"></i>Responsive Html5 Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-eye fs-5"></i>eCommerce Html Templates</a>
                 </div>
                 <p class="mb-1 mt-3">Online Shoping Portals</p>
                 <div class="list-group">
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-facebook fs-5"></i>Best Html Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-flower2 fs-5"></i>Html5 Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-geo-alt fs-5"></i>Responsive Html5 Templates</a>
                    <a href="javascript:;" class="list-group-item list-group-item-action align-items-center d-flex gap-2"><i class="bi bi-github fs-5"></i>eCommerce Html Templates</a>
                 </div>
              </div>
          </div>
        </div>
      </div>
    </div>



    <!--start theme customization-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="ThemeCustomizer" aria-labelledby="ThemeCustomizerLable">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="ThemeCustomizerLable">Theme Customizer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <h6 class="mb-0">Theme Variation</h6>
        <hr>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="LightTheme" value="option1">
          <label class="form-check-label" for="LightTheme">Light</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="DarkTheme" value="option2" checked="">
          <label class="form-check-label" for="DarkTheme">Dark</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SemiDarkTheme" value="option3">
          <label class="form-check-label" for="SemiDarkTheme">Semi Dark</label>
        </div>
        <hr>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="MinimalTheme" value="option3">
          <label class="form-check-label" for="MinimalTheme">Minimal Theme</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ShadowTheme" value="option4">
          <label class="form-check-label" for="ShadowTheme">Shadow Theme</label>
        </div>

      </div>
    </div>
    <!--end theme customization-->
   <!--plugins-->
   <script src="../static/js/jquery.min.js"></script>
   <script src="../static/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
   <script src="../static/plugins/metismenu/js/metisMenu.min.js"></script>
   <script src="../static/plugins/simplebar/js/simplebar.min.js"></script>

    <!--BS Scripts-->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>


    <script>
      var searchButton = document.getElementById("searchButton");

      // 在点击搜索按钮时执行操作
      searchButton.addEventListener("click", function() {
        var assetIDValue = document.getElementById("AssetIDInput").value;
        var typeValue = document.getElementById("TypeInput").value;
        var statusValue = document.getElementById("StatusInput").value;
        var costValue = document.getElementById("CostInput").value;
        var ownerValue = document.getElementById("OwnerInput").value;
        var projectIDValue = document.getElementById("ProjectIDInput").value;
        var projectValue = document.getElementById("ProjectInput").value;
        var rackValue = document.getElementById("RackInput").value;
        var barcodeValue = document.getElementById("BarCodeInput").value;
        var snValue = document.getElementById("SNInput").value;
        var modelValue = document.getElementById("ModelInput").value;
        var bmchostnameValue = document.getElementById("BMChostnameInput").value;
        var ipValue = document.getElementById("IPInput").value;
        var changeTimeValue = document.getElementById("ChangeTimeInput").value;
        var locationValue = document.getElementById("LocationInput").value;
        var releaseTimeValue = document.getElementById("ReleaseTimeInput").value;
        var userValue = document.getElementById("UserInput").value;
        var assetTypeValue = document.getElementById("AssetTypeInput").value;
        var vendorValue = document.getElementById("VendorInput").value;
        var commentsValue = document.getElementById("CommentsInput").value;
        var quantityValue = document.getElementById("QuantityInput").value;
        var bandwidthValue = document.getElementById("BandwidthInput").value;

        // 构建发送到后端的数据对象
        var searchData = {
          "AssetID": assetIDValue,
          "Type": typeValue,
          "Status": statusValue,
          "Cost": costValue,
          "Owner": ownerValue,
          "ProjectID": projectIDValue,
          "Project": projectValue,
          "Rack": rackValue,
          "BarCode": barcodeValue,
          "SN": snValue,
          "Model": modelValue,
          "BMChostname": bmchostnameValue,
          "IP": ipValue,
          "ChangeTime": changeTimeValue,
          "Location": locationValue,
          "ReleaseTime": releaseTimeValue,
          "User": userValue,
          "AssetType": assetTypeValue,
          "Vendor": vendorValue,
          "Comments": commentsValue,
          "Quantity": quantityValue,
          "Bandwidth": bandwidthValue
        };

        // 发送数据到后端
        fetch("/query_asset", {
          method: "POST",
          body: JSON.stringify(searchData),
          headers: {
            "Content-Type": "application/json"
          }
        }).then(response => {
          // 处理后端响应
          // 可能需要更新前端页面内容
        });
      });
    </script>

    <script>
      function exportToExcel() {
        var originalTable = document.getElementById("assetData");
        var clonedTable = originalTable.cloneNode(true);
        var clonedRows = clonedTable.getElementsByTagName("tr");

        // 移除克隆表格的第二行（索引为 1）
        if (clonedRows.length > 1) {
          clonedTable.deleteRow(1);
        }

        var wb;

        // 检查表格是否为空
        if (clonedRows.length <= 1) {
          // 表格为空，创建一个空的工作簿
          wb = XLSX.utils.book_new();
          XLSX.utils.book_append_sheet(wb, XLSX.utils.aoa_to_sheet([[]]), "SheetJS");
        } else {
          // 表格不为空，正常导出
          wb = XLSX.utils.table_to_book(clonedTable, { sheet: "SheetJS" });
        }

        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        function s2ab(s) {
          var buf = new ArrayBuffer(s.length);
          var view = new Uint8Array(buf);
          for (var i = 0; i < s.length; i++) {
            view[i] = s.charCodeAt(i) & 0xFF;
          }
          return buf;
        }

        var blob = new Blob([s2ab(wbout)], { type: "application/octet-stream" });
        saveAs(blob, "Asset_data.xlsx");
      }
    </script>
    <script>
      function filterTable() {
        // 获取输入框中的筛选条件
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("assetSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("assetData");
        tr = table.getElementsByTagName("tr");

        // 遍历每一行，如果某一行的数据包含筛选条件，则显示该行，否则隐藏该行
        for (i = 1; i < tr.length; i++) { // 从1开始，跳过表头行
          var displayRow = false; // 默认隐藏行
          td = tr[i].getElementsByTagName("td");
          for (j = 0; j < td.length; j++) {
            txtValue = td[j].textContent || td[j].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              displayRow = true; // 显示行
              break; // 只要找到包含筛选条件的数据，就可以显示该行
            }
          }
          tr[i].style.display = displayRow ? "" : "none";
        }
      }
    </script>
  </body>
</html>