<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h6 class="mb-0">ESS-Lab Asset Change Record</h6>
<hr>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>AssetID</th>
                    <th>SN</th>
                    <th>BarCode</th>
                    <th>Model</th>
                    <th>Change Content</th>
                    <th>ChangeTime</th>
                </tr>
                </thead>
                <tbody>

                </tbody>

            </table>
        </div>
    </div>
</div>


</body>
</html>